<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>

  <a href="login/login"><button>Login</button></a>
  <a href="users/createUser"><button>Creer compte</button></a>

  <p>
  <!-- <a href="/users/userslist">liste utilisateurs</a> -->
  <a href="/admins">page admin (liste utilisateurs)</a>
</p>

<p>
  <!-- <a href="/offre/userListeOffres">liste offres</a> -->
  <a href="users">page users (liste offres)</a>
  <!-- <a href="/users/user">page utilisateur</a> -->
</p>
<p>
  <a href="/recruiter">page recruteur</a>
</p>
</html>
