body {
    margin: 0;
    padding: 0;
  }

  #overlay {
    min-height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0;
  }
  

  #formBox {
    background: white;
    border-radius: 3rem;
    padding: 2rem;
    width: 90%;
    min-height: 95%;
    max-width: 700px;
    position: relative;
  }

  .close-tab-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
  }